.navbar-main {
    background-color: var(--red-light);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo-img {
    height: 40px;
  }
  
  .search-bar {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    max-width: 610px;
    height: 38px;
    left: 36px;
  }
  
  .search-icon-img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    height: 18px;
    pointer-events: none;
  }
  
  .search-input {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 6px 12px 6px 38px; 
    width: 100%;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: none;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .logout-img {
    height: 30px;
    cursor: pointer;
  }

  .subnavbar-container {
  background-color: var(--white);
  border-bottom: 1px solid #fffbfb;
  box-shadow: #ccc 0px 1px 2px;
}

.subnavbar-btn {
  background-color: #dbd8d8;
  border: none;
  border-radius: 10px;
  padding: 5px 7px;
  transition: background-color 0.3s ease;
}

.subnavbar-btn:hover {
  background-color: #c3bbbb;
}

.subnavbar-icon {
  width: 90px;
  height: 25px;
}